body {
    margin: 0;
    padding: 25px;
  }
  
  
  .section-1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box ;
  }
  
  .v-rectangle {
    height: 150px;
    width: 50px;
    margin-top: 3.25rem;
    background-color: blueviolet;
    display: inline-block;
  }
  .h-rectangle{
    height: 200px;
    width: 400px;
    display: inline-block;
    background-color: forestgreen;
    margin: 0 50px;
  }
  .circle{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: skyblue;
    display: inline-block;
  }
  
  .section-2 {
    width: 100%;
    border: 5px dotted black;
    padding: 50px;
    box-sizing: border-box ;
    margin-top: 25px; 
  }
  
  .shadow-rectangle {
    width: 100%;
    height: 200px;
    background-color: yellowgreen;
    -webkit-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.75);
  }
  
  .section-3 {
    width: 50%;
    border: 1px solid #ccc;
    background-color: white;
    padding: 100px;
    box-sizing: border-box ;
    margin: 25px auto; 
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);
  }
  
  .section-3 h1 {
    width: 100%;
    text-align: center;
    color: rgb(7, 7, 175);
    letter-spacing: 10px;
  }